/*
userChrome by [AM]

v7.4.0 2025-09-22
Written for:
  Firefox 143.0.1 (64-bit)
  Mozilla Firefox Snap for Ubuntu
  cannonical-002 - 1.0
*/



.tabbrowser-tab[pending=true] {opacity: .5;}
.tabbrowser-tabs[treestyletab-tabbar-autohide] .tabbrowser-tab          {opacity: 0.85  !important;} /*TST default*/
.tabbrowser-tabs[treestyletab-tabbar-autohide] .tabbrowser-tab[pending] {opacity: 0.625 !important;}

#TabsToolbar {
  /*! display: none !important; */
  position: fixed !important;
  opacity: 0 !important;
  z-index: -1 !important;
}

/* Rule added 2018-04-05 07:55 to fix bug encountered 2018-04-04 ~07:30:
    Menu items to hide bookmark toolbar, etc., do not populate, by toolbar context manu nor by "customize" screen.
    This happens on a fresh profile as well as a storied profile.
*/
/*#PersonalToolbar {
  display: none !important;
}*/

/* Rule added 2018-11-15 07:55:
    Bad dragging hitbox obscuring content. No patience for proper fix. Must go.
*/
#titlebar {
  /* display: none !important; */
  /*! margin-top: -28px; */
  z-index: -1;
}
#main-window[sizemode=fullscreen] #titlebar {
  margin-top: 0px;
}

#main-window[sizemode=fullscreen] #titlebar > #TabsToolbar {
  /* display: none !important; */
  opacity: 1;
}
#main-window[sizemode=fullscreen] #titlebar > #TabsToolbar > * {
  opacity: 0;
}

#main-window[sizemode=normal] #nav-bar {
  position: relative !important;
  /*padding-right: 12em !important;*/
  padding-right: 2em !important;
}
#main-window[sizemode=fullscreen] #nav-bar {
  position: relative !important;
  padding-right: 2em !important;
}

#nav-bar > #window-controls {
  display: inherit !important;
  margin-left: 3em !important;
  margin-right: -12em !important;
}
#TabsToolbar > #window-controls {
  display: inherit !important;
  /*position: relative !important;*/
  /*margin-top: 60px !important;*/
  margin-left: 3em !important;
  opacity: 1 !important;
}


#navigator-toolbox {
  z-index: 3; /* Avoid browser content drop shadow (in sidebar styles below). */
}


@-moz-document url(chrome://browser/content/browser.xul) {
  @font-face {
    font-family: URLBarCustom;
    src: local("Segoe UI"); /* Windows 7 */
  }
  /* Use Courier New for everything after "~" */
  @font-face {
    font-family: URLBarCustom;
    src: local("Courier New"); /* Windows 7 */
    unicode-range: U+07F-FFFF;
  }
  #urlbar .urlbar-input-box {
    font-family: URLBarCustom !important;
  }
}


/*[AM] What's that blank space doing there, anyway?*/
.titlebar-placeholder[type="pre-tabs"] {
  width: 10px
}



/********************
*                   *
*   S I D E B A R   *
*                   *
********************/

@media 0 {

#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
{
  display: flex;
  justify-content: ;
  align-items: stretch;
}
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header
{

}
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar
{
  width: 100%;
}

}

/*****************
* SIDEBAR HEADER *
*****************/

/* Minimize sidebar header to a light blue stripe (except Bookmarks, History, Sync'd Tabs); appears normally on hover */

@media 0 { /* Sidebar too narrow for expanded header: temporarily widen sidebar */

#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header
{
  transition:     height 0.6s !important cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: min-height 0.6s !important cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: max-height 0.6s !important cubic-bezier(0.34, 1.56, 0.64, 1);
}

  /* collapsed */
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header:not(:hover)
{
  position: relative;
  /*! opacity: 0.5; */
  z-index: 1;
  /*! width: 100%; */
  min-width: 100%;
  max-width: 100%;
  /*! height: 5px; */
  max-height: 5px !important;
  min-height: 5px !important;
  padding: 0 !important;
  background-color: #7ad;
}
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header
    +#sidebar
{
  position: absolute;
  z-index: 2;
  margin-top: 0px;
}

/* expanded */
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header:hover
{
  position: relative;
  z-index: 1;
  min-height: 25px !important;
  max-height: 43px !important;
  margin-bottom: -38px;
  /*! min-width: 100%; */
  /*! max-width: unset; */
  /*! overflow-x: hidden; */
  background-color: #fff;
}
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header:hover
    +#sidebar
{
  z-index: 0;
}

}

@media  { /* Sidebar too narrow for expanded header: hide under / hover over content */

/* collapsed */
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header:not(:hover)
{
  position: absolute;
  z-index: 1;
  /*! opacity: 0.5; */
  /*! width: 100%; */
  min-width: 100%;
  max-width: 100%;
  /*! height: 5px; */
  max-height: 5px !important;
  min-height: 5px !important;
  /*! padding: 0 !important; */
  background-color: #7ad;
}
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header
    +#sidebar
{
  position: relative;
  z-index: 2;
  margin-top: 5px;
}

/* expanded */
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header:hover
{
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  width: 100%;
  min-width: 96px;
  max-width: unset;
  min-width: 100%; /* These two lines uncommented: header hides under content */
  max-width: 100%; /* These two lines   commented: header hovers over content */
  min-height: 25px !important;
  /*! max-height: 25px !important; */
  background-color: #fff;
}
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header:hover
    #sidebar-switcher-target
{
  flex-flow: 1 1 auto;
}
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header:hover
    #sidebar-close
{
  flex-flow: 0 0 auto;
}
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header:hover
    +#sidebar
{
  z-index: 0;
}

}


/* hide children when collapsed, but in a convoluted way */
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header
    >*
{
  /*! display: inline-block; */
  display: inline-block;
}
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header:not(:hover)
    >*:not(#sidebar-switcher-target),
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header:not(:hover)
    >*:not(#sidebar-switcher-target)
      *
{
  /* BAD NEWS: display: none !important; */
  /*! opacity: 0 !important; */
  /* [AM] I don't see what's so bad? Maybe my sidebar collapse makes it okay? */
  /*! display: none !important; */
  visibility: collapse !important;
  /*! visibility: hidden !important; */
  /*! visibility: unset !important; */
  /*! position: absolute; */
  /*! pointer-events: none; */
  /*! min-width: 0px !important; */
  /*! max-width: 0px !important; */
  /*! min-height:  0px !important; */
  /*! max-height: 1px !important; */
}
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header:not(:hover)
    #sidebar-switcher-target,
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
  #sidebar-header:not(:hover)
    #sidebar-switcher-target *
{
  /* BAD NEWS: display: none !important; */
  opacity: 0 !important;
  /* [AM] I don't see what's so bad? Maybe my sidebar collapse makes it okay? */
  /*! display: none !important; */
  position: absolute;
  pointer-events: none;
  /*! visibility:  collapse !important; */
  /*! visibility:   hidden !important; */
  /*! visibility:   unset !important; */
  /*! min-width:     0px !important; */
  /*! max-width:    0px !important; */
  /*! min-height:  0px !important; */
  /*! max-height: 1px !important; */
}

#sidebarMenu-popup[panelopen]
{
  /**/
}


/*                                                    *\
** --~~==** [AM] minimize whole sidebar, too **+=~~-- **
\*                                                    */

/*Ideas for customizable min width?*/

/**************
*       ##### *
*           # *
*          #  *
* #  #    #   *
* #  #   #    *
* # #    #    *
*  #     #    *
**************/

@media all { /* version 6 */
  /* pop out #sidebar-box and #sidebar-splitter, and splitter resizes expanded sidebar */
  /* primary mechanism: z-index and relative/absolute positions */
  /* secondary changes: */
  /*  position splitter over sidebar, rather than beside it */

:root {
  --tst-splitter-width: 6px;
  --tst-thin-width: 28px;
  --tst-wide-width: 200px;
  --tst-hover-delay: 0.2s;
  /*
  --tst-overlap-width: 1em;
  --tst-overlap-margin: 200px;
  */
}
:root {
  --tst-total-thin-width: calc(var(--tst-thin-width) + var(--tst-splitter-width));
  --tst-total-wide-width: calc(var(--tst-wide-width) + var(--tst-splitter-width));
}

/* remove max/min width by default */
/* they're set in element style directly, thus !important */
#sidebar {
  min-width: unset !important;
  max-width: unset !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  #sidebar-header
{
  background-color: #555 !important;
  border-color: #555 !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  #sidebar-header:hover
{
  background-color: #aaa !important;
}

/* this is necessary for the absolute children */
#browser
{
  position: relative !important;
}

#sidebar-wrapper ~ #tabbrowser-tabbox {
  /*margin-left: var(--tst-thin-width) !important;/**/
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
}

#sidebar-wrapper:not(:hover) ~ #tabbrowser-tabbox {
  /*margin-left: var(--tst-thin-width) !important;/**/
}

#sidebar-wrapper:hover ~ #tabbrowser-tabbox {
  /*margin-left: var(--tst-thin-width) !important;/**/
}

/* children */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not([hidden])
  ~ #tabbrowser-tabbox
{
  position: relative !important;
  /*position: absolute !important; /**/
  --tst-sitecontent-width: calc(100% - var(--tst-total-thin-width));
      width: var(--tst-sitecontent-width) !important;
  min-width: var(--tst-sitecontent-width) !important;
  max-width: var(--tst-sitecontent-width) !important;
  margin-left: var(--tst-total-thin-width) !important;
  z-index: 0 !important;
}

#sidebar-splitter::after {
  width: 1px;
  height: 100%;
  box-shadow: 5px 0px 25px black inset;
}

/* == default == */

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
{
  position: absolute !important;
  height: 100%;
  margin-left: var(--tst-splitter-width);
  /*margin-left: calc(0*-var(--tst-overlap-margin));*/
  /*margin-right: calc(0*-var(--tst-overlap-margin)));*/
  /*margin-right: calc(-1%);*/
  /*margin-right: attr(width px, 100px);/**/
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  transition: width        0.6s cubic-bezier(0.37, 0, 0.63, 1);
  transition: min-width    0.6s cubic-bezier(0.37, 0, 0.63, 1);
  transition: max-width    0.6s cubic-bezier(0.37, 0, 0.63, 1);
  transition: margin-right 0.6s cubic-bezier(0.37, 0, 0.63, 1);
  transition: z-index var(--tst-hover-delay) step-end;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]
  + #sidebar-splitter
{
  /*position: absolute !important; /**/
  height: 100%;
      width: var(--tst-splitter-width) !important;
  min-width: var(--tst-splitter-width) !important;
  max-width: var(--tst-splitter-width) !important;
  /*margin-right: var(--tst-thin-width); /**/
  /*margin-left: var(--tst-thin-width)/; /**/
  /*margin-left: calc(0*-var(--tst-overlap-margin));*/
  /*margin-right: calc(-1*var(--tst-overlap-margin));*/
  opacity: 1.0 !important;
  border: 0 !important;
  /*background-color: #f00 !important; /**/ /* for visibility during debugging */
  transition: margin-right 0.6s cubic-bezier(0.37, 0, 0.63, 1);
  transition: z-index var(--tst-hover-delay) step-end;
}

/* == collapsed == */

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not(:hover)
{
  /*    width: var(--tst-thin-width) !important;*/
  min-width: var(--tst-thin-width) !important;
  /*max-width: var(--tst-thin-width) !important;*/
  z-index: 0 !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:not(:hover)
  + #sidebar-splitter:not(:hover)
{
  z-index: 0 !important;
}

/* == expanded == */

/* Don't collapse when we're adjusting the splitter. /*
/* It'd be great if we could keep the sidebar expanded, but this ain't it. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover
{
  /*    width: var(--tst-wide-width) !important;*/
  /*min-width: var(--tst-wide-width) !important;*/
  /*max-width: var(--tst-wide-width) !important;*/
  z-index: 10 !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover
  ~ #sidebar-splitter
{
  z-index: 10 !important;
  /*visibility: none !important;/**/
}

} /* version 7 */


/* source: https://www.reddit.com/r/FirefoxCSS/comments/71vbds/revert_the_tab_throbber_in_firefox_57/ */
/* Revert tab throbber - for Nightly 57 as of 9/20/2017 */
.tab-throbber[busy]::before {
  background-image: url("chrome://global/skin/icons/loading.png") !important;
  animation: unset !important;
}
.tab-throbber[busy]:not([progress])::before {
  /* Grays the blue during "Connecting" state */
  filter: grayscale(100%);
}
@media (min-resolution: 2dppx) {
  .tab-throbber[busy]::before {
    background-image: url("chrome://global/skin/icons/loading@2x.png") !important;
  }
}


/*[AM]*/
#tabContextMenu #context_reloadAllTabs,
#tabContextMenu #context_bookmarkAllTabs,
#tabContextMenu #context_closeTabsToTheEnd,
#tabContextMenu #context_closeOtherTabs
{
  display: none !important;
}



/*
userChrome by [AM]
end
/*
